h1 Dashboards

p Total de résérvations : #{@total_deal}
p Total d'acheteurs : #{@uniq_buyer}
p Age moyen des acheteurs: #{ @average_age} ans
p Prix moyen / représentation: #{@average_price} €
p Prix moyen / réservation: #{@average_deal} €

